build/index.html
<!DOCTYPE html><html class="no-js" lang="en"><head><meta charset="utf-8"><meta http-equiv="x-ua-compatible" content="ie=edge"><title>Camp Pacific Code Test - James Maclennan</title><meta name="description" content=""><meta name="viewport" content="width=device-width, initial-scale=1"><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"><link rel="stylesheet" href="css/main.css"></head><body><div class="wrapper"><header><div class="container"><div class="row justify-content-between no-gutters"><div class="col-auto"><div class="row"><div class="col"><ul class="vehicle-count vehicle-count--is-active"><li class="vehicle-count__item">1</li><li class="vehicle-count__item">2</li></ul></div><span class="col">Vehicle(s)</span></div></div><div class="col-auto"><div class="row no-gutters"><div class="col"><ul class="vehicle-count"><li class="vehicle-count__item">3</li><li class="vehicle-count__item">4</li><li class="vehicle-count__item">5</li></ul></div></div></div></div></div></header><section><div class="trip"><div class="container"><div class="row justify-content-between"><div class="col-auto"> <span class="trip__heading copy-uppercase">trip</span></div><div class="col-auto"><a class="icon-pencil i-small"></a></div></div><div class="row justify-content-around align-items-center copy-center"><div class="col-4 waypoint"><span class="waypoint__date copy-uppercase">wed, jun 27</span><span class="waypoint__location"><strong>Vancouver</strong></span><span class="waypoint__terminal">(Tsawwassen)</span></div><div class="col-2"><i class="icon-arrows"></i></div><div class="col-4 waypoint"><span class="waypoint__date copy-uppercase">wed, jun 27</span><span class="waypoint__location"><strong>Vancouver</strong></span><span class="waypoint__terminal">(Tsawwassen)</span></div></div><div class="row justify-content-center align-items-center trip__passengers"><div class="col-auto"><i class="icon-people"> </i><span>2</span></div><div class="col-auto"><i class="icon-wheelchair"></i><span>0</span></div></div></div></div></section><section class="vehicle__intro"> <div class="container"><div class="row"><div class="col"><h2 class="vehicle__intro__heading">Vehicle</h2><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas laudantium fugiat voluptatibus minus, possimus dicta dolorum suscipit sapiente nisi autem similique sit natus exercitationem inventore!</p></div></div></div></section><section><div class="container"><div class="vehicle"><div class="row justify-content-between align-items-center"><div class="col-auto"><i class="icon-car vehicle__thumb"></i></div><div class="col-auto">Standard and Oversized</div><div class="col-auto"><i class="icon-minus vehicle__close"></i></div></div><div class="row"><div class="col-12"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid ea at modi quas suscipit saepe incidunt laudantium distinctio laborum qui. Consequatur at quasi, mollitia tempora annnnd I'm all out of time.</p></div></div></div></div></section></div><script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script><script src="js/main.js"></script></body></html>

src/pug/index.pug
doctype html
html.no-js(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title= 'Camp Pacific Code Test - James Maclennan'
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="apple-touch-icon" href="apple-touch-icon.png")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")
        link(rel="stylesheet" href="css/main.css")
    body
        .wrapper
            header
              .container
                  .row.justify-content-between.no-gutters
                      .col-auto
                          .row
                              .col
                                  ul.vehicle-count.vehicle-count--is-active
                                      li.vehicle-count__item 1
                                      li.vehicle-count__item 2
                              span.col Vehicle(s)

                      .col-auto
                          .row.no-gutters
                              .col
                                  ul.vehicle-count
                                      li.vehicle-count__item 3
                                      li.vehicle-count__item 4
                                      li.vehicle-count__item 5
            section
              .trip
                .container
                  .row.justify-content-between
                    .col-auto 
                        span.trip__heading.copy-uppercase trip
                    .col-auto
                        a.icon-pencil.i-small
                  
                  .row.justify-content-around.align-items-center.copy-center
                    .col-4.waypoint
                      span.waypoint__date.copy-uppercase wed, jun 27
                      span.waypoint__location
                        strong Vancouver
                      span.waypoint__terminal (Tsawwassen)
                    .col-2
                      i.icon-arrows
                    .col-4.waypoint
                      span.waypoint__date.copy-uppercase wed, jun 27
                      span.waypoint__location
                        strong Vancouver
                      span.waypoint__terminal (Tsawwassen)

                  .row.justify-content-center.align-items-center.trip__passengers
                    .col-auto
                      i.icon-people 
                      span 2
                    .col-auto
                      i.icon-wheelchair
                      span 0
            
            section.vehicle__intro 
              .container
                .row
                  .col
                    h2.vehicle__intro__heading Vehicle
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas laudantium fugiat voluptatibus minus, possimus dicta dolorum suscipit sapiente nisi autem similique sit natus exercitationem inventore!

          
            section
              
              .container
                .vehicle
                  .row.justify-content-between.align-items-center
                    .col-auto
                      i.icon-car.vehicle__thumb
                    .col-auto Standard and Oversized
                    .col-auto
                      i.icon-minus.vehicle__close
                  .row
                    .col-12
                      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid ea at modi quas suscipit saepe incidunt laudantium distinctio laborum qui. Consequatur at quasi, mollitia tempora annnnd I'm all out of time.


        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
        script(src="js/main.js")
